<aside class="sidenav navbar navbar-vertical p-0 border-radius-xl bg-dark fixed-left ms-4" id="sidenav-main">

    <nav class="navbar navbar-expand bg-dark text-light p-0" id="sidenav-collapse-main" style="width: 100%;">
        <ul class="nav flex-column mt-2 my-4 pt-4">
            <li class="nav-item mb-1 px-3" style="width:100%;">

                <a class="nav-link text-white " href="#">
                    <i class="fas fa-database" style="color: #79aec8; padding-right: 6px;"></i>
                    Data
                </a>
            </li>
            <li class="nav-item mb-1 px-3" style="width:100%;">
                <a class="nav-link text-white active" href="#">
                    <i class="fas fa-chart-bar" style="color: #79aec8; padding-right: 6px;"></i>
                    Analytics
                </a>
            </li>
            <li class="nav-item mb-1 px-3" style="width:100%;">
                <a class="nav-link text-white" href="#">
                    <i class="fas fa-chart-pie" style="color: #79aec8; padding-right: 6px;"></i>
                    Inference
                </a>
            </li>
            <li class="nav-item mb-1 px-3" style="width:100%;">
                <a class="nav-link text-white" href="#">
                    <i class="fas fa-chart-line" style="color: #79aec8; padding-right: 6px;"></i>
                    Prediction
                </a>
            </li>
        </ul>
    </nav>


</aside>