<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'admin/img/favicon.ico' %}"/>

    <link rel="stylesheet" href="/static/admin/css/customized.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js@8.9.1/dist/assets/diagram-js.css" />
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js@8.9.1/dist/assets/bpmn-font/css/bpmn.css" />

    <script type="text/javascript" src="/static/admin/js/customized.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="text/javascript"  src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"  src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>


<script src="https://unpkg.com/bpmn-js@8.9.1/dist/bpmn-modeler.development.js"></script>

    <script>

    </script>



</head>
<body class="container-fluid bg-light p-0">

{% include "include/topnav.html" %}

  <main>
    <div class="container-fluid row p-0 m-0">
        <div class="container-fluid col-2 p-0 sidebar_bg collapse show position-relative" id="sidebar" >
            {% include "include/sidebar.html" %}
        </div>
        <div class="container-fluid col-10 pt-3 " style="min-height: 100vh;">
            {% block content %}{% endblock content %}
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container">
                    <p class="navbar-text">© Accure, 2022</p>
                </div>
            </div>
        </div>
    </div>
  </main>




</body>
</html>